@font-face {
    font-family: "Tele2 DisplaySerif Web SHORT";
    src: url("../fonts/tele2_displayserif-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Standard CT Stencil";
    src: url("../fonts/StandardCTStencil-Bold.ttf") format("truetype");
}

:root {
    --main-bg-color: rgb(31, 34, 41);
    --main-blue-color: rgb(72, 204, 253);
    --border-color: rgb(56, 61, 74);
    --hover-color: rgb(176, 176, 176);
}

.modal {
    position: fixed;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    top: 78px;
    left: 0;
    right: 0;
    background-color: var(--main-bg-color);
    padding: 142px 0px 0px 162px;
    border: none;
    opacity: 0;
}

.modal[open] {
    animation: modal-in 500ms forwards ease;
}

.modal[open]::backdrop {
    background: transparent;
}

@keyframes modal-in{
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
}

.location-modal__list {
    display: grid;
    margin-top: 64px;

    grid-template-rows: auto auto auto auto;
    grid-auto-flow: column;

    grid-auto-columns: 160px;
    row-gap: 24px;
    column-gap: 88px;
}

.location-modal__item {
    cursor: pointer;
}

.form-modal {
    display: flex;
    pointer-events: none;
    background-color: var(--main-bg-color);
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.form-modal[open] {
    opacity: 1;
    pointer-events: inherit;
}

.form-modal .instructions__form-number {
    margin-top: 0px;
}

.form-modal .instructions__form {
    max-width: 100%;
}

.form-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.405);
}

.form-modal .instructions__form-action {
    text-align: left;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    position: relative;
    background-color: var(--main-bg-color);
}

.scroll-lock {
    overflow: hidden
}

a:hover {
    color: var(--hover-color);
}

a:active {
    color: var(--main-blue-color);
}

header {
    min-height: 78px;
    border-bottom: 1px solid var(--border-color);
}

.header-logo {
    position: absolute;
    top: 21px;
    left: 32px;
}

.location {
    position: absolute;
    top: 20px;
    right: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.location:hover {
    color: var(--hover-color);
}

.location:active {
    color: var(--main-blue-color);
}

.location img {
    margin-right: 8px;
}

.location__city {
    color: inherit;
}

.container {
    max-width: 1116px;
    margin: 0 auto;
}

.benefit {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
}

.benefit__block {
    padding-top: 27px;
    padding-bottom: 110px;
}

.title {
    color: white;
    font-family: "Tele2 DisplaySerif Web SHORT", "serif";
    font-size: clamp(24px, 3vw, 40px);
    font-weight: 700;
    line-height: 130%;
    text-align: left;
}

.title_blue {
    color: var(--main-blue-color);
}

.title_hidden {
    display: none;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-size: clamp(18px, 1.5vw, 20px);
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.subtitle_hidden {
    display: none;
}

.subtitle_16px {
    font-size: 16px;
    line-height: 138%;
}

.subtitle_14px {
    font-size: 14px;
    line-height: 138%;
}

.subtitle_13px {
    font-size: 13px;
    line-height: 18px;
}

.benefit__block-title {
    margin-top: 48px;
    font-family: "Standard CT Stencil", "sans-serif";
    font-size: clamp(46px, 4.5vw, 68px);
    font-weight: 700;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.benefit__block-title_blue {
    color: var(--main-blue-color);
}

.benefit__block-subtitle {
    margin-top: 24px;
}

.benefit__block-action {
    margin-top: 56px;
}

.benefit__image img {
    width: 100%;
}

.btn {
    width: 209px;
    height: 60px;
    border-radius: 30px;
    background: white;
    cursor: pointer;

    color: var(--main-bg-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}

.btn:hover {
    background: var(--hover-color);
    transition: background-color .15s ease;
}

.btn:active {
    background: var(--main-blue-color);
}

.btn-wide {
    width: 219px;
    height: 48px;
}

.benefit__image {
    width: 584px;
}

.present {
    margin-top: 148px;
}

.present__subtitle {
    margin-top: 24px;
}

.present__advantages {
    margin-top: 56px;
    display: flex;
}

.present__advantages-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
}

.present__advantages-block img {
    margin-right: 16px;
}

.instructions {
    margin-top: 148px;
    display: flex;
    justify-content: space-between;
}

.instructions__form {
    max-width: 348px;
}

.instructions__form-number {
    margin-top: 64px;
    border-bottom: 2px solid rgb(143, 147, 153);
    padding-bottom: 5px;
}

.instructions__form-number label {
    display: block;
    color: rgb(143, 147, 153);
    font-family:  "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.instructions__form-number input {
    width: 100%;
    margin-top: 3px;
    background: transparent;
    border: none;
}

.instructions__form-number input:focus {
    outline: none;
}

.instructions__form-number input:hover {
    outline: 1px solid white;
    border-radius: 5px;
}

.instructions__form-personal {
    margin-top: 24px;
    margin-left: 32px;
}

.instructions__form-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.instructions__form-personal label {
    position: relative;
    user-select: none;
}

.instructions__form-personal label::before {
    position: absolute;
    top: 0px;
    left: -32px;
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;

}

.instructions__form-checkbox:checked+label::before {
    background-image: url("../icons/Checked.png");
}

.instructions__form-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.instructions__form-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.instructions__form-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.instructions__form-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.instructions__form-action {
    margin-top: 32px;
}

.instructions__form-feedback {
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 48px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(38, 43, 54);
}

.instructions__form-feedback_hidden {
    display: none;
}

.instructions__form-feedback img {
    display: block;
    margin-right: 14px;
}

.instructions__list {
    width: 598px;
}

.instructions__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.instructions__list-number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    width: 80px;
    height: 80px;
    border: 2px solid rgb(57, 64, 76);
    border-radius: 100%;

    color: var(--main-blue-color);
    font-family: "Tele2 DisplaySerif Web SHORT", "serif";
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}

.instructions__list-text {
    max-width: 494px;
}

.rate {
    padding-top: 162px;
    display: flex;
    justify-content: space-between;
}

.rate__block {
    max-width: 513px;
}

.rate__block-title {
    margin-top: 38px;
}

.rate__block-subtitle {
    margin-top: 30px;
}

.rate__block-action {
    margin-top: 48px;
}

.rate__block-action_hidden {
    display: none;
}

footer {
    padding-top: 148px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
}

.socials {
    display: flex;
}

.socials a {
    text-decoration: none;
}

.socials img {
    margin-right: 4px;
    border: none;
}

.socials img:hover {
    outline: 1px solid var(--main-blue-color);
}

.socials img:active {
    outline: 1px solid rgb(255, 16, 121);
}

.promotion {
    display: flex;
    align-items: center;

}

.promotion__descr {
    text-wrap: nowrap;
    margin-right: 11px;
}

.promotion img {
    width: 32px;
    height: 32px;
}

.footer-credits {
    padding-top: 43px;
    padding-bottom: 47px;
    display: flex;
    justify-content: space-between;
}

.footer-tele2 {
    display: flex;
    align-items: center;
}

.footer-tele2 img {
    margin-right: 24px;
}

.footer-tele2__text {
    text-wrap: nowrap;
    opacity: 0.5;
}

.footer-chulakov {
    display: flex;
    align-items: center;
}

.footer-chulakov__text {
    text-wrap: nowrap;
    margin-right: 22px;
    opacity: 0.5;
}

@media (max-width: 1023px) {

    .container {
        max-width: 768px;
        padding: 0 16px;
    }

    .benefit {
        padding-top: 24px;
    }

    .benefit__block {
        padding-bottom: 0;
    }

    .title {
        font-size: clamp(24px, 3vw, 30px);
    }

    .subtitle {
        font-size: 18px;
    }

    .subtitle_16px {
        font-size: 16px;
        line-height: 138%;
    }

    .benefit__block-title {
        margin-top: 40px;
        font-size: clamp(36px, 4.5vw, 46px);
    }

    .present {
        margin-top: 72px;
    }

    .present__advantages {
        margin-top: 30px;
        flex-direction: column;
    }

    .present__advantages-block {
        justify-content: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .present__advantages-text {
        min-width: 230px;
    }

    .instructions {
        margin-top: 40px;
        flex-direction: column;
    }

    .instructions__form {
        max-width: 100%;
    }

    .instructions__form-title {
        display: block;
        text-align: center;
    }

    .instructions__form-action {
        text-align: center;
    }

    .instructions__form-feedback {
        margin-top: 20px;
    }

    .instructions__list {
        margin-top: 32px;
    }

    .instructions__list-item {
        margin-bottom: 20px;
    }

    .rate {
        padding-top: 40px;
    }

    .rate__block {
        max-width: 400px;
    }

    .rate__image {
        width: 300px;
    }

    .rate__image img {
        width: 100%;
    }

    .footer-links{
        padding-top: 72px;
    }

    .location-modal__list {
        margin-top: 40px;
        column-gap: 60px;
    }

    .modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 78px;
        background-color: var(--main-bg-color);
        padding: 100px 0px 0px 100px;
    }
}

@media (max-width: 767px) {

    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 18px;
    }

    .subtitle_16px {
        font-size: 16px;
        line-height: 138%;
    }

    header {
        min-height: 45px;
        border-bottom: 1px solid var(--border-color);
    }

    .header-logo {
        position: absolute;
        top: 13px;
        left: 16px;
        width: 48px;
        height: 18px;
    }

    .location img{
        width: 24px;
        height: 24px;
    }

    .location {
        top: 8px;
        right: 12px;
        font-size: 18px;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .benefit {
        position: relative;
        padding-top: 0;
        flex-direction: column;
    }

    .benefit__block {
        padding-top: 24px;
        padding-bottom: 381px;
    }

    .benefit__block-share {
        font-size: 16px;
    }

    .benefit__block-title {
        margin-top: 40px;
        font-size: 36px;
    }

    .benefit__block-subtitle {
        margin-top: 16px;
    }

    .benefit__block-action {
        margin-top: 40px;
    }

    .benefit__image {
        position: absolute;
        left: 50%;
        top: 393px;
        max-width: 343px;
        transform: translate(-50%, 0);
    }

    .present {
        margin-top: 72px;
    }

    .present__subtitle {
        margin-top: 16px;
    }

    .present__advantages {
        margin-top: 40px;
        flex-direction: column;
    }

    .present__advantages-block {
        justify-content: flex-start;
        margin-right: 0;
        margin-bottom: 32px;
    }

    .present__advantages-block img {
        width: 56px;
        height: 56px;
    }

    .instructions {
        margin-top: 40px;
        flex-direction: column-reverse;
    }

    .instructions__form-title {
        display: none;
    }

    .title_hidden {
        display: block;
    }

    .instructions__list {
        margin-top: 8px;
        width: 100%;
    }

    .instructions__list-text {
        max-width: 100%;
    }

    .instructions__list-item {
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 0;
        align-items: flex-start;
    }

    .instructions__list-number {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .instructions__form-number {
        margin-top: 60px;
    }

    .instructions__form-action {
        text-align: center;
    }

    .instructions__form-feedback {
        display: none;
    }

    .rate {
        flex-direction: column;
        padding-top: 72px;
    }

    .rate__block {
        max-width: 100%;
    }

    .rate__block-title {
        margin-top: 0;
        margin-bottom: 16px;
    }

    .rate__block-subtitle {
        margin-top: 16px;
    }

    .rate__image {
        margin: 0 auto;
        margin-top: 32px;
        width: 230px;
    }

    .rate__image img {
        width: 100%;
    }

    .rate__block-action {
        display: none;
    }

    .rate__block-subtitle {
        display: none;
    }

    .subtitle_hidden {
        display: block;
    }

    .rate__block-action_hidden {
        margin: 0 auto;
        margin-top: 48px;
        display: block;

    }

    .footer-links{
        padding-top: 72px;
    }

    .socials img {
        width: 24px;
        height: 24px;
        margin-right: 7px;
    }

    .footer-credits {
        padding-top: 27px;
        padding-bottom: 0;
    }

    .footer-chulakov {
        display: none;
    }

    .footer-tele2 img {
        width: 79px;
        margin-right: 32px;
    }

    .socials a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials a:nth-child(1) {
        order: 2;
    }

    .socials a:nth-child(2) {
        order: 3;
    }

    .socials a:nth-child(3) {
        order: 1;
    }

    .location-modal__list {
        margin-top: 48px;

        grid-template-rows: repeat(6, auto);
        grid-auto-columns: 140px;
        row-gap: 16px;
        column-gap: 52px;
    }

    .modal {
        top: 45px;
        padding-top: 109px;
        padding-left: 12px;
        padding-right: 30px;
    }

}

img.hidden {
    display: none;
}